@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --primary-color: #193f58;
    --secondary-color: #ffffff;
    --accent1-color: rgb(57, 108, 160);
    --accent2-color: #886e52;
    --heading-font: Rubik, sans-serif;
    --paragraph-font: Inter, sans-serif;
    --nav-background-color: #ffffff;
    --nav-link-color: #886e52;
    --nav-hover-link-color: #193f58;
    --nav-hover-background-color: #ffffff;

}


body {
    font-family: var(--paragraph-font);
    padding: 0px 30px 30px 30px;
    margin: 0 auto;

}

header {
    display: grid;
    align-items: center;
    background-color: var(--primary-color);
}

h1 {
    text-align: left;
    padding: 10px;
    color: var(--secondary-color);
    margin: 0;
}

.hide{
    display: none;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--secondary-color);
    position: absolute;
    top: 1rem;
    right: 3rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}


main {
    max-width: 900px;
    margin: 0 auto;
}

.hero {
    position: relative;
    margin: 5px;
    text-align: center;
}

.hero>img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
}

form {
    width: 250px;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;

}

input,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}


#register {
    margin: 1rem 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;

}

.table-defects-vehicle {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid rgb(140 140 140);
    font:
        16px "Open Sans",
        Helvetica,
        Arial,
        sans-serif;
    margin: 20px auto;
    width: 100%;
}

thead>tr,
tfoot>tr {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 4px 6px;
}

th {
    vertical-align: bottom;
}

footer{
    background-color:var(--primary-color);
    text-align: center;
    padding: 5px;
    margin: 0;
    color: white;
    font-family: Rubik, sans-serif;;
}