@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root{
    --heading-font: Rubik, sans-serif;
    --paragraph-font: Inter, sans-serif;
}

body{
    margin: 0 auto;
    font-family: var(--paragraph-font);
}


header{
    background-color: #26852a;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: var(--heading-font);
    font-size: 15px;
}

h1{
    padding: 10px;
    margin: 0;
}

main{
    margin: 0 auto;
}

.stripe{
    background-color: #266785;
    padding: 10px;
}

.stripe-2{
    background-color: #266785;
    padding: 5px;
}


.hero img {
    width: 100%;
    height: auto;
}

h2{
    text-align: center;
}

.data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.labels{
    text-align: right;
}

.values{
    text-align: left;
}

.img-weather{
    text-align: center;
}

.weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

footer{
    background-color: #26852a;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: white;
    font-family: Rubik, sans-serif;;
}