@media screen and (min-width:600px) {


    header {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        align-items: center;
        justify-items: center;
        background-color: var(--primary-color);
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .pictures {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:900px) {

    .pictures {
        grid-template-columns: 1fr 1fr 1fr;
    }
}